## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
## python files to ignore
*.pyc
## virtualenv files to ignore
bin
include
lib
local
## django files to ignore
blockchainPassport/db.sqlite3
blockchainPassport/blockchainPassport/migrations
blockchainPassport/blockchainPassport/settings.py
blockchainPassport/media
blockchainPassport/staticFiles
blockchainPassport/transactions
blockchainPassport/gpg_keyring
## other to ignore
notas
pitou.jpg
tesing_dsa
