{% extends "genLayout.html" %}

{% block contenido %}
    <h1>{{title}}</h1>
    <p class="lead">bl_pass is a partial implementation of World-Citizenship protocol find
    it here: <a href="https://github.com/MrChrisJ/World-Citizenship">
    https://github.com/MrChrisJ/World-Citizenship</a>, for id generation
    over bitcoin blockchain.</p>
    <p class="lead">check <a href="https://github.com/emdyp/bl_pass">
    https://github.com/emdyp/bl_pass</a> for more information</p>
</body>
</html>
{% endblock %}


