<!doctype html>
<html>
<head>
  <!--meta-->
  <meta charset="UTF-8"></meta>
  <meta lang="es"></meta>
  <link type="text/plain" rel="author" href="/static/humans.txt" />
  <meta name="keywords" content="emdyp, criptodivisas, traducciones, desarrollo, bitcoin">
  <meta name="description" content="servicios de traduccion y desarrollo de tecnología, aceptamos pagos con bitcoin y otras altcoin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--estilos-->
  <link type="text/css" rel="stylesheet" href="/static/css/normalize.css">
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/css/layout.css">
  <link type="text/css" rel="stylesheet" href="/static/css/colorTheme.css">
  <!--icono-->
  <!--scripts-->
  <!--titulo-->
  <title>Blockchain proof of existence - Emdyp</title>
</head>
<body>
{% block contenido %} {% endblock %}
</body>
</html>
